@media (min-width: 1600px) {
	.display-ad.listing-ad {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.home_page .sds-home-widget .sds-home-lifestyle {
		height: 172px;
	}

	.listing-loan-calculator {
		max-width: none !important;
	}

	.listings-page .vehicle-cards {
		flex: 1;
		flex-wrap: wrap;
		display: flex;
	}

	.listings-page .save-search-banner {
		width: 100%;
	}

	.sds-container {
		max-width: none !important;
	}

	.sds-page-section {
		max-width: none !important;
	}

	.vdp-content-wrapper {
		max-width: none !important;
	}

	.vdp-content-wrapper .vehicle-reviews .reviews-collection {
		max-width: none !important;
	}

	.vehicle-card {
		width: 50%
	}

	.vehicle-gallery .gallery-wrapper {
		max-width: none !important;
	}

	.vehicle-gallery-lightbox>.vg-lightbox-container {
		max-width: none !important;
		width: 100% !important;
	}

	.vehicle-gallery-lightbox>.vg-lightbox-container .lightbox-content.lightbox-content-tablet .vgl-tablet-gallery {
		max-width: none !important;
	}

	.vehicle-gallery-lightbox>.vg-lightbox-container .lightbox-content.lightbox-content-tablet .vgl-tablet-gallery .image-wrapper .main-selected-image {
		max-width: none !important;
		width: 40% !important;
	}
}