._1OVBBWLtHoSPfGCRaPzpTf._3nSp9cdBpqL13CqjdMr2L_ {
	width: 100% !important;
}

._3obgdFz00GvpqpuX8QCsNK {
	max-width: none !important;
	width: 100% !important;
}

._1npCwF50X2J7Wt82SZi6J0 {
	max-width: none !important;
	width: 100% !important;
}

._3tw__eCCe7j-epNCKGXUKk {
	max-width: none !important;
}

.K4Eem3pMbRbAYioOfqN5E {
	max-width: none !important;
}


.u35lf2ynn4jHsVUwPmNU.Dx3UxiK86VcfkFQVHNXNi {
	max-width: none !important;
	margin-top: 0px !important;
}

._2DJXORCrmcNpPTSq0LqL6i._26pbaCw90eAC80WRqUfICJ:after {
	max-width: none !important;
	width: 100% !important;
}