.r-417010 {
    display: grid !important;
    grid-template-columns: 275px 1fr 375px !important;
}

.r-rthrr5 {
    width: 100% !important;
}

.r-zso239 {
    margin-inline: 10px !important;
}

.r-1ye8kvj {
    max-width: none !important;
}
