.home {
    max-width: none !important;
}

.ResponsiveContainer {
    max-width: 98vw !important;
}

#categoryContainer {
    max-width: 98vw !important;
}

.MultiLinkPOVModule .ClickThroughImage {
    position: absolute !important;
    max-width: none !important;
    height: 100% !important;
    width: auto !important;
}