.ytp-big-mode {
    height: 100vh !important;
    width: 100vw !important;
}

.ytp-big-mode>.html5-video-container>.video-stream {
    height: 100vh !important;
    width: 100vw !important;
    position: relative;
    left: 0px;
}

video {
    object-fit: cover;
    object-position: center;
}
