video {
    object-fit: cover;
    object-position: center;
}

.ytp-fullscreen>div>video.video-stream {
    display: block;
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
    position: fixed !important;
}


.ytp-large-width-mode>div>video.video-stream {
    display: block;
    width: 100% !important;
    top: 0px !important;
    left: 0px !important;
}
